@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;500;700&display=swap');
.nav-container{
    position:sticky;
    top: 0;
    z-index: 99;

}
.prenav{
    width: 100%;
    background-color: #145366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    padding-block: 7px;

    

}
.prenav-contacts{
    display: flex;
    gap: 2rem;
}
.prenav-contact{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}
.prenav-contact p{
    margin-block: auto;
}
.prenav-social{
    display: flex;
    gap: 1.5rem;
}
.topbar{
    background-color: white;
    color:#193852;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    padding:5px 4rem;
    width: 100%;
   
    box-shadow: 0 2px 7px 2px #8181818e;
    transition: 0.2s ease-out;

}
.menu-icon{
    font-size: 1.3rem;
    margin-top: 10px;
    display: none;

}
.menuopenbtn{
    background-color: transparent;
    border: none;
}
.menuclosebtn{
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}
.topbar a{
    text-decoration: none;
    color: #345977;

}
.topbar a:hover{
    color: #0c1822; ;
}
.nav-links{
    display: flex;
    gap: 2.5rem;
    /* padding-top: 28px; */
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #345977;
    font-size: 1rem;
    margin-right: 1.5rem;
}
.nav_logo{
    width: 200px;
}
.nav_socials{
    display: flex;
    gap: 2rem;
    padding-top: 7px;
    font-size: 1rem;
    position: relative;
}


.about-list{
    position: absolute;
    top: 78%;
    padding: 10px 1rem;
    padding-top: 1rem;
    background-color: #1f688c;
    font-size: 1rem;
    border-radius: 10px;
    display: none;
    color: white;
}
.about-tab:hover .about-list{
    display: block;

}
.about-list a, .about-list a:hover{
    text-decoration: none;
    color: white;
}
.sidebar{
    width: 50vw;
    height: 100vh;
    background-color:#1f688c;
    color: white;
    box-shadow: 0 2px 7px 2px #4e4e4ece;
    position:fixed;
    top: 0;
    left: 0;
    animation: opensidebar 0.3s ease-out;
    z-index: 9999;
    
   
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-logo i{
    margin-inline: 15px;
}
.sidebar-logo img{
    width: 100px;
    margin: 1rem;
}

.sidebar-menu{
    margin-top: 2rem;
}
.sidebar-menu ul{
    list-style: none;
}
.sidebar-menu ul li{
    margin-top: 2rem;
    padding: 8px 12px;
    font-family: 'Poppins', sans-serif;
}
.sidebar-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.hidesidebar{
    display: none;
}
.stopscroll{
    height: 100vh;
    overflow-y: hidden;
}
.menuclosebtn{
    font-size: 1.5rem;
    margin-top: 12px;
    color: white;;
}
.sidebar-logo{
    background-color: #d3d3d3;
}
.sidebaroverlay{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000046;
    z-index: 99;
    display:none;
   
}
.about-tab-head{
    display: flex;
    gap: 1rem;
}
.about-tab-head button{
    background: none;
    border: none;
    color: white;
}
.about-tab-dropdown{
    padding: 1.5rem 0 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.about-tab-dropdown p{
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}
.hidedropdown{
    display: none;
}


@keyframes opensidebar{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


@media screen and (max-width:1106px){
    .nav-links{
        gap: 1.5rem;
    }
    .nav_logo{
        width: 180px;
    }

}
@media screen and (max-width:992px){
    .nav-links{
        display: none;
    }
    .prenav{
        display: none;
    }
    .menu-icon{
        display: block;

    }
    .menu-icon i{
        font-size: 1.4rem;
    }
    .nav_logo{
        width: 150px;
    }
    .topbar{
        justify-content: flex-start;
        gap: 1rem;
        padding:5px 2rem;
    }


}
@media screen and (max-width:572px){
    .sidebar{
        width: 60vw;
    }

}
